.message {
    width: calc(100% - 10px);
    height: fit-content;
    display: flex;
    padding: 5px;
    border-radius: 5px;

    flex-direction: column;
    flex-wrap: nowrap;
}

.message > .body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.message:hover {
    backdrop-filter: brightness(75%);
}

.message:hover > .body > .context {
    visibility: visible;
}

.message > .body > .context {
    position: absolute;
    visibility: hidden;
    width: fit-content;
    height: 2em;
    border-radius: 0.25em;
    transform: translateY(-50%);
    right: 10px;
    margin: 2px;
    overflow: hidden;
}

.message > .body > .context > * {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 0.25em;
    margin: 0;
    display: inline;
}

.message > .body > .context > * > svg {
    width: 100%;
    height: 100%;
}

.message > .body > .context > *:hover {
    filter: brightness(150%);
}

.message > * {
    display: inline;
    color: white;
}

.message > .body > .name-display {
    font-weight: bolder;
    min-width: 12em;
    max-width: 12em;
    text-overflow: ellipsis;
}

.message > .body > .paragraph-holder {
    flex-grow: 1;
}

.message > .body > .paragraph-holder > p {
    margin: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

#message-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 50vw;
}

#message-flex > * {
    flex-basis: 0;
}

#text-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}

#text-input > textarea {
    resize: none;
    flex-grow: 10;
    width: 100%;

    transition: all 0.5s ease-in-out;
}

#message-holder {
    flex-grow: 18;
    width: 100%;
    overflow: hidden;
}

#message-display {
    width: calc(100% - 40px - 4px);
    height: calc(100% - 40px - 4px);
    max-height: calc(100% - 40px - 4px);

    padding: 20px;

    overflow-x: hidden;
    overflow-y: scroll;
}

#reply-button {
    background-color: #353535;
}

#send-frame {
    height: 100%;
    flex-grow: 1;

    margin-left: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

#send-message {
    aspect-ratio: 1 / 1;

    border-radius: 25%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

#send-message > svg {
    pointer-events: none;

    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

#message-frame {
    width: 100%;

    padding: 10px;
    padding-bottom: 10vh;
    margin-bottom: -10vh;
    border-radius: 10px;
    background-color: #353535;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}