#group-list {
    margin-top: 10px;
    margin-right: 20px;
    height: 100%;
}

.group {
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.group.active {
    backdrop-filter: brightness(125%);
}

.group > .name-display {
    color: white;
    font-size: 1.5em;
    margin: 0.5em;
    text-overflow: ellipsis;
    pointer-events: none;
}

.group:hover:not(.active) {
    backdrop-filter: brightness(75%);
}

.group > .owned {
    color: #AFA;
}