.message {
    width: calc(100% - 10px);
    height: fit-content;
    display: flex;
    padding: 5px;
    border-radius: 5px;
}

.message:hover {
    backdrop-filter: brightness(75%);
}

.message:hover > .context {
    visibility: visible;
}

.message > .context {
    position: absolute;
    visibility: hidden;
    width: fit-content;
    height: 2em;
    border-radius: 0.25em;
    transform: translateY(-50%);
    right: 10px;
    margin: 2px;
    overflow: hidden;
}

.message > .context > * {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 0.25em;
    margin: 0;
    display: inline;
}

.message > .context > * > svg {
    width: 100%;
    height: 100%;
}

.message > .context > *:hover {
    filter: brightness(150%);
}

.message > * {
    display: inline;
    color: white;
}

.message > .name-display {
    font-weight: bolder;
    min-width: 12em;
    max-width: 12em;
    text-overflow: ellipsis;
}

.message > .paragraph-holder {
    flex-grow: 14;
}

.message > .paragraph-holder > p {
    margin: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

#message-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 400px;
}

#message-input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#message-input > textarea {
    resize: none;
    flex-grow: 10;
    width: 100%;

    transition: all 0.5s ease-in-out;
}

#message-holder {
    flex-grow: 8;
    width: 100%;
    min-height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    margin-bottom: 10px;
}

#message-display {
    padding: 20px;
    width: calc(100% - 40px);
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: scroll;
}

#reply-button {
    background-color: #353535;
}