body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    padding: 20px;

    background-color: #232323;
}

.base-msg-container {
    display: flex;
    
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    border: 2px solid rgba(200, 200, 200, 0.1);
    border-radius: 5px;

    padding: 10px;
    
    font-size: 2em;
    
    background-color: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(100px);

    box-shadow: 0px 0px 10px black;
    margin: 20px;
}

.normal-msg-container {
    min-height: 200px;
    height: 400px;
    max-height: min(600px, calc(100% - 80px));

    min-width: 100px;
    width: 500px;
    max-width: min(1000px, calc(100% - 80px));
}

.large-msg-container {
    min-height: 200px;
    height: 600px;
    max-height: min(1000px, calc(100% - 80px));
    
    min-width: 100px;
    width: 800px;
    max-width: min(1600px, calc(100% - 80px));
}

h1, p {
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 1.25em;
}

p {
    font-size: 0.75em;
}